.box {
  margin: 0 0 12px 0;
  border: 1px solid @colorFgBorderEmphasize3;
}

.box-header {
  padding: 0 12px;
  line-height: @sizeButton;
  border-bottom: 1px solid @colorFgBorderEmphasize3;
  background-color: @colorBgEmphasize1;
  font-size: 14px;
  color: @colorFgSubtle;
}

.box-body {
  padding: 12px;
  background-color: @colorBg;
}

.color-palette {
  line-height: 40px;
  padding: 0 15px;
  text-align: center;
  margin-bottom: 2px;

  &.colorTheme {
    background-color: @colorBgTheme;
    color: @colorFgTheme;
  }
  &.colorBgBody {
    background-color: @colorBgBody;
  }
  &.colorBg {
    background-color: @colorBg;
  }
}

.text {
  .colorCode {
    margin-left: 12px;
    color: @colorFgSubtle;
  }
  .text-heading {
    color: @colorFgHeading;
  }
  .text-normal {
    color: @colorFg;
  }
  .text-subtle {
    color: @colorFgSubtle;
  }
  .text-link {
    color: @colorFgLink;
  }
}
