@color: 			#333333;
@colorAlt: 			#888888;

@colorUltraLight: 	#f7f7f7;
@colorLight:		#dddddd;

@colorBorder:		#BDBDBD;
@colorBorderLight: 	#ebebeb;

@colorBg:			#fafafa;
@colorBgAlt:		#f2f2f2;

@colorLink:			#0a7bc3;
@colorLinkAlt:		#6d6e71;
@colorLinkAltHover:	#525252;

@colorOnline:		#008845;
@colorSelect:		#fdf1f5;
@colorEmphasize:	#FDF6EB;
@colorNotice: 		#ea8e0b;
@colorNoticeAlt:	#FDC85D;

@colorFb:			#ed3261;
@colorFbAlt:		#c30d3a;
