.panel {
	position: fixed;
	z-index: 9999;
	bottom: 0;
	left: 0;
}

.buttons {
	.background-color(rgb(231, 253, 192));
	height: 15px;
	border: 1px solid black;
	border-bottom: none;
	border-left: none;
}

.containers {
	position: absolute;
	left: 0;
	bottom: 15px;
	.background-color(rgb(231, 253, 192));
	border: 1px solid black;
}

.containers>* {
	display: none;
	height: auto;
	max-height: 500px;
	overflow-y: auto;
}
