<phpunit backupGlobals="false"
		backupStaticAttributes="false"
		bootstrap="./TestCase.php"
		colors="false"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		stopOnFailure="false"
		syntaxCheck="true"
		testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader">
	<testsuites>
		<testsuite name="Library">
			<directory>./library</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">../library/CM</directory>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-html" target="../build/coverage" title="fb"
			charset="UTF-8" yui="false" highlight="false"
			lowUpperBound="35" highLowerBound="70"/>
		<log type="coverage-clover" target="../build/logs/clover.xml"/>
		<log type="junit" target="../build/logs/junit.xml" logIncompleteSkipped="false"/>
	</logging>
</phpunit>
