.paging {
	margin-top: 5px;
}
.paging a {
	.border(@colorFgBorderShy);
	color: @colorFgLinkLight;
	float: left;
	padding: 0 7px;
	text-align: center;
	border-width: 0 1px 0 0;
}

.paging a.active {
	font-weight: bold;
}
