& {
	text-align: center;
	padding-bottom: 12px;
}

.previews {
	overflow: hidden; /* Clearfix */
	text-align: left;

	.preview {
		display: block;
		float: left;
		margin: 2px;
		line-height: @sizeButton;

		.deleteButton {
			margin-left: 5px;

			&:hover {
				color: @colorError;
			}
		}

		.template {
			width: 48px;
			height: 48px;
			background-color: @colorBgEmphasize1;
			border: 1px solid @colorFgBorderEmphasize1;

			.spinner {
				margin-top: 16px;
			}
		}
	}
}

&.dragover {
	border: 3px dashed @colorFgBorderEmphasize1;
}

.dropZone {
	color: @colorFgShy;

	html.touch & {
		display: none;
	}

	.dropZone-icon {
		font-size: 5em;
		line-height: 1.2;
		color: lighten(@colorFgIcon, 30);
		text-shadow: 1px 1px @colorBg;
	}

	.dropZone-message {
		font-size: 1.5em;
	}

	.dropZone-divide {
		margin-bottom: 12px;
		font-size: @fontSizeSmall;
	}
}

.uploadButton {
	.button;
	.button-default;
	display: inline-block;
	height: @sizeButton;
	line-height: @sizeButton;
	position: relative;

	input {
		position: absolute;
		right: 0;
		top: 0;
		font-family: Arial;
		font-size: 118px;
		margin: 0;
		padding: 0;
		cursor: pointer;
		opacity: 0;
	}
}
