.router-placeholder {
	background-color: @colorBg;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	&.error {
		padding: 15px;
		border-left: 2px solid @colorError;
		left: -2px;
	}

	.spinner {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}

