& {
  line-height: @heightInputText;
}

.noUiSlider-wrapper, .noUiSlider-value {
  display: inline-block;
  vertical-align: middle;
}

.noUiSlider-wrapper {
  width: 200px;
}

.noUiSlider-value {
  margin-left: 6px;
  max-width: 50px;
}
