.previews {
  .preview {
    position: relative;
    line-height: 1;

    .deleteButton {
      margin: 0;
      position: absolute;
      right: 3px;
      top: 3px;
    }

    img {
      max-height: 100px;
      max-width: 100%
    }
  }
}
