.previews {
  .preview {
    position: relative;
    line-height: 1;

    .deleteButton {
      margin: 0;
      position: absolute;
      left: 5px;
      top: 5px;
    }

    img {
      max-height: 70px;
      max-width: 100%
    }
  }
}
