body {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

/**
 * Webkit buttons, inputs and textarea set "-webkit-font-smoothing: auto"
 */
button, input, textarea {
  -webkit-font-smoothing: inherit;
}

/**
 * Form fields should inherit color (removed in normalize v4.0.0)
 */
button,
input,
select,
textarea {
  color: inherit;
}

::-ms-clear {
  width: 0;
  height: 0;
}

::-ms-reveal {
  width: 0;
  height: 0;
}
