.textinput {
	.appearance(none);
	.box-sizing(border-box);
	width: 100%;
	height: @heightInputText;
	overflow: hidden;
	padding-left: 6px;
	padding-right: 6px;
	border-radius: 0;
	background: @colorBg;
	border: 1px solid @colorFgBorderEmphasize2;
	.transition(.1s);

	&:hover {
		border-left: 1px solid lighten(@colorNotice, 15);
	}
}

textarea.textinput {
	height: @heightInputTextarea;
	padding-top: 7px;
	overflow: auto;
	resize: vertical;
}

select {
	.border(@colorFgBorderEmphasize3);
	max-width: 100%;
}

.placeholder(@color) {
	::-webkit-input-placeholder {
		color: @color;
	}
	:-moz-placeholder { // < FF 19
		color: @color;
	}
	::-moz-placeholder {
		color: @color;
	}
	:-ms-input-placeholder {
		color: @color;
	}
	label.placeholder {
		color: @color;
		margin-top: 7px;

		.CM_FormField_Textarea & {
			margin-top: 1px;
		}
	}
}

.placeholder(lighten(@colorFgShy, 10));

button:disabled, input:disabled {
	opacity: .5;
}

button, input[type=submit], input[type=button] {
	.input_button(@heightButton);
	.input_button_color;
	.transition(.1s);

	&:hover {
		.input_button_hover;
	}
	&:active {
		.input_button_active;
	}

	&.hasIcon{
		padding: 0;

		&.hasLabel {
			padding: 0 8px;

			.icon {
				margin-right: 5px;
			}
		}
	}

	&.hasIconRight.hasLabel {
		padding: 0 1px 0 8px;
	}

	&.large{
		.input_button(@heightButtonLarge);

		border-radius: 3px;
		font-size: @fontSizeButtonLarge;
		text-shadow: 1px 1px 1px @colorBg;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: -1px;

		.icon {
			font-size: @fontSizeButtonLarge;
		}
		&.hasIcon.hasLabel {
			padding: 0 20px 0 10px;

			.icon {
				margin-right: 8px;
			}
		}
	}

	&.confirmClick {
		.input_button_confirmClick;

		&:hover {
			.input_button_confirmClick_hover;
		}
		&:active {
			.input_button_confirmClick_active;
		}
	}

	&.alt {
		.input_button_alt;

		&:hover {
			.input_button_alt_hover;
		}
		&:active {
			.input_button_alt_active;
		}

		&.large {
			font-size: @fontSizeButtonLarge;
		}
	}
}

button:focus, input:focus, textinput:focus, .textinput.focus, select:focus, textarea:focus {
	.input_focus;
}

input[type=radio], input[type=checkbox] {
	margin: 0 1px;
	padding: 0;
}

.formField {
	.box-sizing(border-box);
	width: 660px;
	max-width: 100%;
	min-height: 24px;
	padding: 8px;

	> label {
		.box-sizing(border-box);
		color: @colorFgLinkLight;
		font-weight: bold;
		padding-left: 2px;

		@media (min-width: 600px) {
			width: 100px;
			padding: 4px 4px 0 0;
			float: left;
			text-align: right;
		}

		&:after {
			content: ":";
		}

		.CM_FormField_Abstract {
			float: left;
			margin-right: 3px;
		}
	}

	> .input {
		margin-top: 2px;

		@media (min-width: 600px) {
			margin-left: 110px;
		}
	}

	&.noLabel > .input {
		margin-left: 0;
	}

	&.submit {
		text-align: center;
	}
}

.messages {
	display: block;

	.form_field_error {
		.error;
		display: inline-block;
		margin: 4px 0 0;
		padding: 3px 7px;
	}
}
