.textinput {
	.appearance(none);
	.input_text;
	.input_text_height;
	.border(@colorFgBorder);
	.transition(.1s);

	&:hover {
		border-left: 1px solid lighten(@colorNotice, 15);
	}
}

textarea.textinput {
	.input_textarea;
}

select {
	.border(@colorFgBorderEmphasize);
	max-width: 100%;
}

.placeholder(@color) {
	::-webkit-input-placeholder {
		color: @color;
	}
	:-moz-placeholder { // < FF 19
		color: @color;
	}
	::-moz-placeholder {
		color: @color;
	}
	:-ms-input-placeholder {
		color: @color;
	}
	label.placeholder {
		color: @color;
	}
}

.placeholder(lighten(@colorFgShy, 10));

button:disabled, input:disabled {
	.input_disabled;
}

button:focus, input:focus, textinput:focus, .textinput.focus, select:focus, textarea:focus {
	.input_focus;
}

button, input[type=submit], input[type=button] {
	.input_button(@heightButton);
	.input_button_color;
	.transition(.1s);

	&:hover {
		.input_button_hover;
	}
	&:active {
		.input_button_active;
	}

	&.hasIcon{
		padding: 0;

		&.hasLabel {
			padding: 0 8px 0 5px;

			.icon {
				margin-right: 3px;
			}
		}
	}

	&.hasIconRight.hasLabel {
		padding: 0 1px 0 8px;
	}

	&.large{
		.input_button(@heightButtonLarge);

		border-radius: 3px;
		font-size: @fontSizeButtonLarge;
		text-shadow: 1px 1px 1px @colorBg;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: -1px;

		.icon {
			font-size: @fontSizeButtonLarge;
		}
		&.hasIcon.hasLabel {
			padding: 0 20px 0 10px;

			.icon {
				margin-right: 8px;
			}
		}
	}

	&.alt {
		.input_button_alt;

		&:hover {
			.input_button_alt_hover;
		}
		&:active {
			.input_button_alt_active;
		}

		&.large {
			font-size: @fontSizeButtonLarge;
		}
	}
}

input[type=radio], input[type=checkbox] {
	margin: 0 1px;
	padding: 0;
}

.formField {
	.box-sizing(border-box);
	width: 660px;
	max-width: 100%;
	min-height: 24px;
	padding: 12px;
	border: 1px solid darken(@colorFgBorder, 3);
	border-bottom-width: 0;
	.background-color(darken(@colorBg, 3));
	border-top-color: lighten(@colorFgBorder, 3);

	@media (max-width: 600px) {
		padding: 6px 12px;
	}

	&:first-child{
		border-top: 1px solid @colorFgBorder;
	}

	&.submit {
		border-top-width: 0;
		border-bottom-width: 1px;
	}

	> label {
		.box-sizing(border-box);
		color: @colorFgLinkLight;
		width: 100px;
		float: left;
		padding: 4px 4px 0 0;
		font-weight: bold;
		text-align: right;

		@media (max-width: 600px) {
			width: auto;
			float: none;
			text-align: left;
			padding-left: 2px;
		}

		&:after {
			content: ":";
		}

		.CM_FormField_Abstract {
			float: left;
			margin-right: 3px;
		}
	}

	> .input {
		margin-left: 110px;

		@media (max-width: 600px) {
			margin-left: 0;
			margin-top: 2px;
		}
	}

	&.noLabel > .input {
		margin-left: 0;
	}

	&.submit {
		text-align: center;
	}
}

.messages {
	display: block;

	.form_field_error {
		.error;
		display: inline-block;
		margin: 4px 0 0;
		padding: 3px 7px;
	}
}
