.textinput {
  .appearance(none);
  background: @colorInputBg;
  border: 1px solid @colorInputBorder;
  border-radius: @borderRadiusInput;
  box-sizing: border-box;
  display: block;
  height: @heightInputText;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  transition: border-color .1s;
  width: 100%;
}

.textarea.textinput {
  height: auto;
  line-height: @fontSize*@fontLineHeight;
  min-height: @heightInputText;
  max-height: @maxHeightInputTextarea;
  padding-bottom: ((@heightInputText - @fontSize*@fontLineHeight) / 2) - 1px;
  padding-top: ((@heightInputText - @fontSize*@fontLineHeight) / 2) - 1px;
  overflow: auto;
  resize: vertical;
  word-break: break-all;
}

.input_focus {
  border-color: @colorInputFocus;
  outline: none;
}

.placeholder(@color) {
  ::-webkit-input-placeholder {
    color: @color;
  }
  ::-moz-placeholder {
    color: @color;
    opacity: 1;
  }
  :-ms-input-placeholder {
    color: @color;
  }
}

.placeholder(@colorInputPlaceholder);

.button {
  border-radius: @borderRadiusButton;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: @fontSizeButton;
  height: @sizeButton;
  letter-spacing: 1px;
  margin: 1px;
  max-width: 100%;
  min-width: @sizeButton;
  overflow: hidden;
  padding: 0 1em;
  position: relative;
  text-overflow: ellipsis;
  transition: background-color 200ms;
  vertical-align: top;
  white-space: nowrap;
  width: auto;

  &:focus {
    .input_focus;
  }

  &:disabled {
    .icon, .label {
      opacity: .5;
    }
  }

  &.hasIcon:not(.hasLabel) {
    padding: 0;
  }

  &.hasIcon.hasLabel .icon {
    margin-right: .4em;
  }

  &.hasIconRight.hasLabel .icon {
    margin-left: .4em;
  }

  a&, div& {
    line-height: @sizeButton - 2*@buttonBorderWidth;
    text-align: center;
  }
}

.button.confirmClick {
  .button-success;
}

.button.confirmClick.warning {
  .button-danger;
}

.button-default-active {
  background: darken(@colorBgButton, 5);
  color: @fontColorHeading;
}

.button-default {
  background-color: @colorBgButton;
  border: 1px solid @colorFgButtonBorder;
  color: @colorFgButton;

  &.active {
    .button-default-active;
  }
}

.button-transparent-active {
  color: @fontColorHeading;
}

.button-transparent {
  background: none;
  border: 1px solid transparent;
  color: @colorFgButton;
}

.button-highlight {
  background-color: @colorBgButtonHighlight;
  border: 1px solid @colorBgButtonHighlight;
  color: @colorFgButtonHighlight;
}

.button-success {
  background-color: @colorBgButtonSuccess;
  border: 1px solid @colorBgButtonSuccess;
  color: @colorFgButtonSuccess;
}

.button-danger {
  background-color: @colorBgButtonDanger;
  border: 1px solid @colorBgButtonDanger;
  color: @colorFgButtonDanger;
}

.button-large {
  border-radius: @sizeButtonLargeFactor*@borderRadiusButton;
  font-size: @sizeButtonLargeFactor*@fontSizeButton;
  height: @sizeButtonLargeFactor*@sizeButton;
  min-width: @sizeButtonLargeFactor*@sizeButton;

  a& {
    line-height: @sizeButtonLargeFactor*@sizeButton - 2*@buttonBorderWidth;
  }
}

input:disabled {
  opacity: .5;
}

input:focus, .textinput:focus, .textinput.focus, select:focus, textarea:focus {
  .input_focus;
}

input[type=checkbox], input[type=radio] {
  .appearance(none);
  display: block;
  height: @sizeCheckbox;
  transform: scale(2);
  transform-origin: 0 0;
  opacity: 0;
  position: absolute;
  width: @sizeCheckbox;

  + label {
    cursor: pointer;
    margin-left: @sizeCheckbox+6px;
    position: relative;

    &::before {
      background-color: @colorInputBg;
      border: 1px solid @colorInputBorder;
      box-sizing: border-box;
      content: "";
      display: block;
      height: @sizeCheckbox;
      left: -(@sizeCheckbox+6px);
      margin-top: -@sizeCheckbox/2;
      position: absolute;
      top: 50%;
      transition: 100ms;
      width: @sizeCheckbox;
    }
  }

  &:focus {
    &:not(:disabled) + label::before {
      .input_focus;
    }
  }

  &:checked + label::before {
    background-color: @colorInputFocus;
    border-color: @colorInputFocus;
  }

  &:disabled + label {
    opacity: .5;
  }
}

input[type=radio] {
  &:checked + label::before {
    box-shadow: inset 0 0 0 .2em @colorInputBg;
  }

  + label {
    &::before {
      border-radius: 50%;
    }
  }
}

input[type=checkbox] {
  &:checked + label::before {
    background-image: image('checkbox.svg');
    background-size: contain;
  }

  + label {
    &::before {
      border-radius: 20%;
    }
  }
}

input[type=checkbox].checkbox-switch {
  @sizeSwitch: @sizeCheckbox;

  + label {
    margin-left: 0;

    .handle {
      background-color: @colorInputBorder;
      border: 1px solid @colorInputBorder;
      border-radius: .5 * @sizeSwitch;
      box-shadow: 0 .1em .1em rgba(0, 0, 0, 0.02) inset;
      box-sizing: border-box;
      display: inline-block;
      height: @sizeSwitch;
      margin-right: 5px;
      position: relative;
      vertical-align: middle;
      width: 1.6 * @sizeSwitch;

      &::after {
        background-color: @colorInputBg;
        border: 1px solid @colorInputBg;
        border-radius: 50%;
        box-sizing: border-box;
        content: '';
        height: @sizeSwitch - 4px;
        left: 0;
        margin: 1px;
        position: absolute;
        top: 0;
        transform: translateX(0);
        transition: 200ms;
        width: @sizeSwitch - 4px;
      }
    }

    .label {
      vertical-align: middle;
    }

    &::before {
      display: none;
    }
  }

  &:checked + label .handle {
    background-color: @colorInputFocus;
    border-color: @colorInputFocus;

    &::after {
      background-color: @colorInputBg;
      border-color: @colorInputBg;
      transform: translateX(0.6 * @sizeSwitch);
    }
  }

  &:focus + label .handle {
    border-color: @colorInputFocus;
  }
}

.formField, .formAction {
  padding-bottom: 5px;
  padding-top: 5px;
}

.formField {
  > label {
    color: lighten(@colorInputFg, 20);
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    padding-left: 2px;

    &::after {
      content: ":";
    }
  }

  &:not(:first-child) > label {
    margin-top: 5px;
  }
}

.formAction {
  text-align: right;

  .formAction-alternatives {
    float: left;
  }
}

.messages {
  .formField-error {
    color: @colorError;
    display: none;
    padding: 2px;
  }
}

.formFieldFeedback-success {
  color: @colorOk;
  font-size: 1.2rem;
  line-height: @heightInputText;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  visibility: hidden;
  width: @heightInputText;
}
