.emoticon {
  width: @emoticonSize;
  height: @emoticonSize;
  display: inline-block;
  margin: -0.25em 0;
}

.usertext {
  .word_wrap;
  hyphens: auto;

  &.oneline {
    display: inline-block;
    word-break: break-all; // needed for IE9
  }

  img:not(.emoticon) {
    box-sizing: border-box;
    max-width: 100%;
    max-height: 1500px;
    margin: 5px 0;
    display: block;
    padding: 2px;
    border: 1px solid @colorFgBorderEmphasize1;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-style: normal;
    line-height: 1.6;
  }

  h1 {
    font-size: @usertextFontSizeH1;
    color: @usertextColorFgH1;
    margin-top: @usertextFontSizeH1;
    margin-bottom: @usertextFontSizeH1*0.75;
    border-bottom: 1px solid @colorFgBorderEmphasize2;
  }

  h2 {
    font-size: @usertextFontSizeH2;
    color: @usertextColorFgH2;
    margin-top: @usertextFontSizeH2;
    margin-bottom: @usertextFontSizeH2*0.75;
    border-bottom: 1px solid @colorFgBorderEmphasize2;
  }

  h3 {
    font-size: @usertextFontSizeH3;
    color: @usertextColorFgH3;
    margin-top: @usertextFontSizeH3;
    margin-bottom: @usertextFontSizeH3*0.5;
  }

  h4 {
    font-size: @usertextFontSizeH4;
    color: @usertextColorFgH4;
    margin-top: @usertextFontSizeH4;
    margin-bottom: @usertextFontSizeH4*0.5;
  }

  h5 {
    font-size: @usertextFontSizeH5;
    color: @usertextColorFgH5;
    margin-top: @usertextFontSizeH5;
    margin-bottom: @usertextFontSizeH5*0.5;
  }

  h6 {
    margin-top: @usertextFontSizeH6;
    margin-bottom: @usertextFontSizeH6*0.5;
    font-style: italic;
    font-size: @usertextFontSizeH6;
    color: @usertextColorFgH6;
  }

  p {
    font-size: @usertextFontSize;
    margin: 8px 0;
  }

  ul, ol {
    margin: 15px 0;
    padding-left: 30px;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  li {
    margin: 5px 0;
    font-size: @usertextFontSize;
    line-height: 1.6;
  }

  blockquote {
    margin: 15px 0;
    padding: 4px 10px;
    border-left: 3px solid lighten(@colorFg, 50);
    background-color: @colorBgEmphasize1;
    color: lighten(@colorFg, 30);
  }
}
