html {
	font-family: @fontFamily;
	font-size: @fontSize;
	line-height: 1.5;
	color: @colorFg;
}

body {
	background-color: @colorBgBody;
}

a, a:visited {
	color: @colorFgLink;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: underline;

	html.touch &, html.touch & {
		text-decoration: none;
		background-color: fadeout(@colorFg, 70);
	}
}

h1, h2, h3, h4, h5 {
	line-height: 1.7;
}

h1, h2, h3 {
	font-family: @fontFamilyHeading;
	font-weight: normal;
	color: @colorFgHeading;
}

h1 {
	margin: 7px 0;
	font-size: 18px;
	letter-spacing: 1px;
}

h2 {
	margin: 0;
	font-size: 15px;
}

h3 {
	margin: 0;
	font-size: 13px;
}

h4 {
	margin: 8px 0 2px 0;
}

h5 {
	margin: 0;
	font-weight: normal;
	font-style: italic;
}

q {
	font-style: italic;
}

hr {
	height: 1px;
	.border(@colorFgBorderEmphasize1);
	border-width: 1px 0 0 0;
}

strong {
	font-weight: bold;
}

small {
	font-size: @fontSizeSmall;
}
