.menu-tabs {
  padding: 0 10px;
  text-align: right;

  > li {
    display: inline-block;

    > a {
      .nowrap;
      display: block;
      padding: 7px 10px;
      color: @fontColor;

      .icon {
        opacity: 0.8;
      }
    }
    &.hasIcon.hasLabel .label {
      margin-left: 5px;
    }

    &.active a {
      color: @fontColorHeading;
    }
  }
}

.menu-pills {
  margin-bottom: 5px;
  line-height: 0;
  background-color: @colorBgButton;
  border: 1px solid @colorFgButtonBorder;
  border-radius: @borderRadiusInput;

  > li {
    display: inline-block;

    > a {
      .nowrap;
      display: block;
      padding: 0 15px;
      max-width: 150px;
      color: @fontColor;
      line-height: @sizeButton;

      .icon {
        opacity: 0.8;
      }
    }

    &.hasIcon.hasLabel .label {
      margin-left: 5px;
    }

    &.active a {
      color: @fontColorHeading;
    }
  }
}
