.menu-pills,
.menu-tabs {
  display: flex;
  flex-wrap: wrap;

  > li {
    > a {
      .nowrap;
      border-radius: @sizeButton*.5;
      display: block;
      line-height: @sizeButton;
      padding-left: 12px;
      padding-right: 12px;

      .icon {
        opacity: 0.8;
      }
    }

    &.hasIcon.hasLabel .label {
      margin-left: 5px;
    }

    &.active > a {
      color: @fontColorHeading;
    }
  }
}

.menu-pills {
  background-color: @colorBgButton;
  border: 1px solid @colorFgButtonBorder;
  border-radius: @borderRadiusInput;
  margin-bottom: 5px;
  padding: 4px;

  > li {
    > a {
      color: @fontColor;
    }
  }
}

.menu-tabs {
  > li {
    > a {
      color: @colorFgSubtle;
      font-weight: bold;
    }
  }
}
