.clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.nowrap {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.quote {
	font-style: italic;
	&:before {
		content: "«";
	}
	&:after {
		content: "»";
	}
}

.fontface(@fontname, @fontfile) {
	font-family: '@{fontname}';
	src: url(urlFont('icons-webfont.eot'));
	src: url(urlFont('icons-webfont.eot') + "?#iefix") format('embedded-opentype'),
	url(urlFont('icons-webfont.woff')) format('woff'),
	url(urlFont('icons-webfont.ttf')) format('truetype'),
	url(urlFont('icons-webfont.svg') + "#@{fontname}") format('svg');
	font-weight: normal;
	font-style: normal;
}

// TODO: Variables are hardcoded to 'icons-webfont' for now; https://github.com/leafo/lessphp/issues/293
//.fontface(@fontname, @fontfile) {
//	font-family: '@{fontname}';
//	src: url(urlFont('@{fontfile}.eot'));
//	src: url(urlFont('@{fontfile}.eot') + "?#iefix") format('embedded-opentype'),
//	url(urlFont('@{fontfile}.woff')) format('woff'),
//	url(urlFont('@{fontfile}.ttf')) format('truetype'),
//	url(urlFont('@{fontfile}.svg') + "#@{fontname}") format('svg');
//	font-weight: normal;
//	font-style: normal;
//}

.link() {
	color: @colorFgLink;
	text-decoration: none;
}

.link_hover() {
	text-decoration: underline;
}

.border(@color) {
	border: 1px solid @color;
}

.message() {
	color: @colorFg;
	.border(lighten(@colorNotice, 42));
	.background-color(lighten(@colorNotice, 48));
}

.error() {
	border-color: @colorError;
	background:	@colorError;
	color: white;
}

.notice() {
	border-color: @colorNotice;
	background: @colorNotice;
	color: white;
}

/* Fonts */
.font(@size, @family, @color) {
	font: normal @size ~"/" 1.5 @family;
	color: @color;
}

.font_placeholder() {
	font-style: italic;
	color: @colorFgShy;
}

.input_focus() {
	outline: none;
	border: 1px solid lighten(@colorNotice, 15);
}

.input_disabled() {
	.opacity(.5);
}

.input_text() {
	border-radius: 0;
	padding-left: 6px;
	padding-right: 6px;
	background: white;
	width: 100%;
	overflow: hidden;
	line-height: 14px;
}

.input_text_height() {
	.box-sizing(border-box);
	height: @heightInputText;
	padding-top: (@heightInputText - 16px) / 2;
	padding-bottom: (@heightInputText - 16px) / 2;
}

.input_textarea() {
	.box-sizing(border-box);
	height: @heightInputTextarea;
	overflow: auto;
	resize: vertical;
}

.input_button(@size) {
	width: auto;
	min-width: @size;
	max-width: 100%;
	height: @size;
	margin: 1px;
	padding: 1px @size / 3;
	font-weight: bold;
	font-size: @fontSizeButton;
	cursor: pointer;
	overflow: visible;
	vertical-align: top;
	white-space: nowrap;

	.label {
		display: inline-block;
		max-width: 100%;
		.nowrap;
	}

	.icon {
		font-size: @iconSizeClickable;
		line-height: @size - 2px;
		top: -1px;

	}
	&.hasIcon.hasLabel{
		.label {
			vertical-align: top;
			line-height: @size - 2px;
		}
	}
}

.input_button_color() {
	color: @colorFgButtonFont;
	.gradient(vertical, @colorBgButton, darken(@colorBgButton, 6));
	border: 1px solid lighten(@colorFgButton, 60);
}

.input_button_hover() {
	border: 1px solid lighten(@colorFgButton, 50);
	.gradient(vertical, @colorBgButton, darken(@colorBgButton, 12));
	color: @colorFgButton;
}

.input_button_active() {
	background: darken(@colorBg, 12);
	border: 1px solid darken(@colorFgBorderEmphasize2, 30);
}

.input_button_alt() {
	.gradient(vertical, darken(@colorFgButtonAlt, 10), darken(@colorFgButtonAlt, 10));
	border: 1px solid darken(@colorFgButtonAlt, 10);
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
	color: @colorFgButtonAltFont;
	font-size: @fontSizeButton + 1px;

	.icon {
		color: @colorFgButtonAltFont;
	}
}

.input_button_alt_hover() {
	.gradient(vertical, @colorBgButtonAlt, @colorBgButtonAlt);
	border: 1px solid @colorFgButtonAlt;
}

.input_button_alt_active() {
	.gradient(vertical, lighten(@colorFgButtonAlt, 2), lighten(@colorFgButtonAlt, 2));
	border: 1px solid darken(@colorFgButtonAlt, 10);
}

.appearance(@value) {
	-webkit-appearance: @value;
	-moz-appearance: @value;
	appearance: @value;
}

.animation(@name, @duration: 300ms, @timing-function: ease, @delay: 0, @iteration-count: 1, @direction: normal, @fill-mode: none) {
	-webkit-animation: @name @duration @timing-function @delay @iteration-count @direction @fill-mode;
	-moz-animation: @name @duration @timing-function @delay @iteration-count @direction @fill-mode;
	-ms-animation: @name @duration @timing-function @delay @iteration-count @direction @fill-mode;
}
