.emoji {
	width: @emoji-size;
	height: @emoji-size;
	display: inline-block;
	margin-bottom: -0.25em;
	vertical-align: middle;
}

.usertext2 {
	h1, h2, h3, h4, h5, h6 {
		font-weight: bold;
		font-style: normal;
	}
	h1 {
		font-size: @fontSizeUsertextH1;
		color: @colorFgUsertextH1;
		text-shadow: 1px 1px 1px @colorFgShadowUsertextH1;
		line-height: @fontSizeUsertextH1*1.3;
		margin: 0 0 @fontSizeUsertextH1*1.5 0;
	}
	h2 {
		font-size: @fontSizeUsertextH2;
		color: @colorFgUsertextH2;
		text-shadow: 1px 1px 1px @colorFgShadowUsertextH2;
		line-height: @fontSizeUsertextH2*1.3;
		margin: 0 0 @fontSizeUsertextH2*1.5 0;
	}
	h3 {
		font-size: @fontSizeUsertextH3;
		color: @colorFgUsertextH3;
		text-shadow: 1px 1px 1px @colorFgShadowUsertextH3;
		line-height: @fontSizeUsertextH3*1.3;
		margin: 0 0 @fontSizeUsertextH3*1.5 0;
	}
	h4 {
		font-size: @fontSizeUsertextH4;
		color: @colorFgUsertextH4;
		text-shadow: 1px 1px 1px @colorFgShadowUsertextH4;
		line-height: @fontSizeUsertextH4*1.3;
		margin: 0 0 @fontSizeUsertextH4*1.5 0;
	}
	h5 {
		font-size: @fontSizeUsertextH5;
		color: @colorFgUsertextH6;
		text-shadow: 1px 1px 1px @colorFgShadowUsertextH5;
		line-height: @fontSizeUsertextH5*1.3;
		margin: 0 0 @fontSizeUsertextH5*1.5 0;
	}
	h6 {
		font-size: @fontSizeUsertextH6;
		color: @colorFgUsertextH6;
		text-shadow: 1px 1px 1px @colorFgShadowUsertextH6;
		line-height: @fontSizeUsertextH6*1.3;
		margin: 0 0 @fontSizeUsertextH6*1.5 0;
	}
	p {
		font-size: @fontSizeUsertextP;
		line-height: @fontSizeUsertextP*1.3;
		margin-bottom: @fontSizeUsertextP*1.5;
	}
	ul, ol {
		font-size: @fontSizeUsertextP;
		margin: 0 0 0 @fontSizeUsertextP*1.5;
	}
	ul {
		list-style: disc;
	}
	ol {
		list-style: decimal;
	}
	li {
		padding: @fontSizeUsertextP*0.2 0;
	}
}
