.paging {
	margin-top: 5px;
	text-align: right;

	a {
		display: inline-block;
		padding: 0 7px;
		border: 1px solid @colorFgBorderEmphasize1;
		border-width: 0;
		text-align: center;
		color: @colorFgLinkLight;
		text-decoration: none;
		.clickable;

		&.pagingFirst, &.pagingPrev {
			border-right-width: 1px;
		}

		&.pagingNext, &.pagingLast {
			border-left-width: 1px;
		}

		&.pagingNumber {
			border-left-width: 1px;
			font-weight: bold;

			&:first-child {
				border-left-width: 0;
			}
		}

		&.active {
			color: darken(@colorFgHeading, 15);
		}
	}
}
