.tableField {
  padding: 5px 0 5px 5px;

  :first-child {
    border-width: 0;
  }

  > .label {
    box-sizing: border-box;
    font-weight: bold;
    color: @fontColorStrong;

    :after {
      content: ":";
    }
  }

  &[min-width="250px"] {
    > .label {
      width: 100px;
      float: left;
      text-align: right;
    }
    > .value {
      margin-left: 110px;
    }
  }
}
