.tableField {
  padding: 6px
}

.tableField:first-child {
  border-width: 0;
}

.tableField > .label {
  font-weight: bold;
  color: @fontColorStrong;
}

.tableField > .label:after {
  content: ":";
}
