// Special
@colorBrand: #2d78e2;
@colorFaviconBg: @colorBrand;
@colorOnline: #008845;
@colorOk: #008845;
@colorNotice: #ea8e0b;
@colorError: #C2113D;
@colorClose: #C2113D;

// Basic Color
@colorFg: #444444;
@colorFgSubtle: mix(@colorFg, @colorBg, 80);

@colorBgTheme: @colorBrand;
@colorFgTheme: #ffffff;

// Backgrounds
@colorBgBody: #ffffff;
@colorBg: #ffffff;
@colorBgEmphasize1: darken(@colorBg, 3);
@colorBgEmphasize2: darken(@colorBg, 6);
@colorBgEmphasize3: darken(@colorBg, 10);

//Border
@colorFgBorder: #f1f1f1;
@colorFgBorderEmphasize1: darken(@colorFgBorder, 3);
@colorFgBorderEmphasize2: darken(@colorFgBorder, 6);
@colorFgBorderEmphasize3: darken(@colorFgBorder, 12);

//Links
@colorFgLink: #0a7bc3;

// Media Queries
@breakpointMini: 400px;
@breakpointSmall: 600px;
@breakpointMedium: 995px;
@breakpointLarge: 1400px;

//Font
@fontFamily: Helvetica, Arial, sans-serif;
@fontLineHeight: 1.4;
@fontColor: @colorFg;
@fontSize: 14px;

@fontFamilyHeading: Helvetica, Arial, sans-serif;
@fontLineHeightHeading: 1.7;
@fontColorHeading: @colorBrand;

@fontColorStrong: contrast(@colorFg, lighten(@colorFg, 10), darken(@colorFg, 10));

@fontSizeSmall: 12px;
@fontSizeTiny: 10px;

//Buttons
@sizeButton: 38px;
@buttonBorderWidth: 1px;
@fontSizeButton: 1em;
@borderRadiusButton: @borderRadiusInput;
@sizeButtonLargeFactor: 1.4;
@colorFgButtonBorder: rgb(199, 199, 199);
@colorBgButton: @colorBg;
@colorFgButton: @fontColorStrong;

@colorBgButtonHighlight: @colorBrand;
@colorFgButtonHighlight: #ffffff;
@colorBgButtonSuccess: #009e54;
@colorFgButtonSuccess: #ffffff;
@colorBgButtonDanger: #d6162a;
@colorFgButtonDanger: #ffffff;

//Forms
@sizeCheckbox: 20px;
@heightInputText: @sizeButton;
@maxHeightInputTextarea: 150px;
@heightSelect: @sizeButton;
@borderRadiusInput: 3px;
@colorInputBorder: darken(@colorFgBorderEmphasize3, 5);
@colorInputPlaceholder: lighten(@colorFgSubtle, 22);
@colorInputBg: darken(@colorBg, 1);
@colorInputFg: @colorFg;
@colorInputFocus: lighten(@colorBrand, 10);

//Usertext
@usertextLineheight: 1.4;
@usertextFontSize: @fontSize;
@usertextFontColor: @colorFg;
@usertextFontColorHeading: #505050;
@emoticonSize: unit(@usertextLineheight, em);

@transitionDuration: 150ms;

// Easing Variables from https://github.com/emagnier/sass-less-stylus.easing
// Ease In
@ease-in-quad:      cubic-bezier(0.550, 0.085, 0.680, 0.530);
@ease-in-cubic:     cubic-bezier(0.550, 0.055, 0.675, 0.190);
@ease-in-quart:     cubic-bezier(0.895, 0.030, 0.685, 0.220);
@ease-in-quint:     cubic-bezier(0.755, 0.050, 0.855, 0.060);
@ease-in-sine:      cubic-bezier(0.470, 0.000, 0.745, 0.715);
@ease-in-expo:      cubic-bezier(0.950, 0.050, 0.795, 0.035);
@ease-in-circ:      cubic-bezier(0.600, 0.040, 0.980, 0.335);
@ease-in-back:      cubic-bezier(0.600, -0.280, 0.735, 0.045);

// Ease Out
@ease-out-quad:     cubic-bezier(0.250, 0.460, 0.450, 0.940);
@ease-out-cubic:    cubic-bezier(0.215, 0.610, 0.355, 1.000);
@ease-out-quart:    cubic-bezier(0.165, 0.840, 0.440, 1.000);
@ease-out-quint:    cubic-bezier(0.230, 1.000, 0.320, 1.000);
@ease-out-sine:     cubic-bezier(0.390, 0.575, 0.565, 1.000);
@ease-out-expo:     cubic-bezier(0.190, 1.000, 0.220, 1.000);
@ease-out-circ:     cubic-bezier(0.075, 0.820, 0.165, 1.000);
@ease-out-back:     cubic-bezier(0.175, 0.885, 0.320, 1.275);

// Ease In Out
@ease-in-out-quad:  cubic-bezier(0.455, 0.030, 0.515, 0.955);
@ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);
@ease-in-out-quart: cubic-bezier(0.770, 0.000, 0.175, 1.000);
@ease-in-out-quint: cubic-bezier(0.860, 0.000, 0.070, 1.000);
@ease-in-out-sine:  cubic-bezier(0.445, 0.050, 0.550, 0.950);
@ease-in-out-expo:  cubic-bezier(1.000, 0.000, 0.000, 1.000);
@ease-in-out-circ:  cubic-bezier(0.785, 0.135, 0.150, 0.860);
@ease-in-out-back:  cubic-bezier(0.680, -0.550, 0.265, 1.550);
