// Special
@colorBrand: #2d78e2;
@colorOnline: #008845;
@colorOk: #008845;
@colorNotice: #ea8e0b;
@colorError: #C2113D;
@colorClose: #C2113D;

// Basic Color
@colorFg: #444444;
@colorFgSubtle: mix(@colorFg, @colorBg, 80);

@colorBgTheme: @colorBrand;
@colorFgTheme: #ffffff;

// Backgrounds
@colorBgBody: #ffffff;
@colorBg: #ffffff;
@colorBgEmphasize1: darken(@colorBg, 3);
@colorBgEmphasize2: darken(@colorBg, 6);
@colorBgEmphasize3: darken(@colorBg, 10);

//Border
@colorFgBorder: #f1f1f1;
@colorFgBorderEmphasize1: darken(@colorFgBorder, 3);
@colorFgBorderEmphasize2: darken(@colorFgBorder, 6);
@colorFgBorderEmphasize3: darken(@colorFgBorder, 12);

//Links
@colorFgLink: #0a7bc3;

// Media Queries
@breakpointMini: 400px;
@breakpointSmall: 600px;
@breakpointMedium: 995px;
@breakpointLarge: 1400px;

//Font
@fontFamily: Helvetica, Arial, sans-serif;
@fontLineHeight: 1.4;
@fontColor: @colorFg;
@fontSize: 14px;

@fontFamilyHeading: Helvetica, Arial, sans-serif;
@fontLineHeightHeading: 1.7;
@fontColorHeading: @colorBrand;

@fontColorStrong: contrast(@colorFg, lighten(@colorFg, 10), darken(@colorFg, 10));

@fontSizeSmall: 12px;
@fontSizeTiny: 10px;

//Buttons
@sizeButton: 38px;
@buttonBorderWidth: 1px;
@colorFgButtonBorder: rgb(199, 199, 199);
@colorBgButton: @colorBg;
@colorFgButton: @fontColorStrong;

@colorBgButtonHighlight: @colorBrand;
@colorFgButtonHighlight: #ffffff;
@colorBgButtonSuccess: #009e54;
@colorFgButtonSuccess: #ffffff;
@colorBgButtonDanger: #d6162a;
@colorFgButtonDanger: #ffffff;

//Forms
@sizeCheckbox: 20px;
@heightInputText: @sizeButton;
@heightInputTextarea: 65px;
@heightSelect: @sizeButton;
@borderRadiusInput: 3px;
@colorInputBorder: darken(@colorFgBorderEmphasize3, 5);
@colorInputPlaceholder: lighten(@colorFgSubtle, 22);
@colorInputBg: darken(@colorBg, 1);
@colorInputFg: @colorFg;
@colorInputFocus: lighten(@colorBrand, 10);

//Usertext
@usertextLineheight: 1.4;
@usertextFontSize: @fontSize;
@usertextFontColor: @colorFg;
@usertextFontColorHeading: #505050;
@emoticonSize: unit(@usertextLineheight, em);
